@using Microsoft.AspNetCore.Http
@using TrainTicketBooking.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewBag.Title = "Tickets";
}
@model Trip
<div class="container-lg">
    <div class="my-3 row">
        <div class="col-4">
            <div class="p-3 bg-white rounded-3 shadow-sm mb-3">
                <div>
                    <p>@Model.Route.RouteName</p>
                    <p><b>Tuyến: </b>@Model.Route.FromNavigation.LocationName - @Model.Route.ToNavigation.LocationName</p>
                    <p><b>Tàu: </b>@Model.Train.TrainName</p>
                    <p><b>Khởi hành: </b>@(Model.Time.ToString("dd'/'MM'/'yyyy HH:mm"))</p>
                </div>
            </div>
            <div class="p-3 bg-white rounded-3 shadow-sm mb-3">
                <div>
                    <div class="ticket-type-selector d-flex justify-content-between">
                    </div>
                    <div class="mt-3">
                        <div class="d-flex justify-content-between">
                            <b>Vị trí</b>
                            <b>Loại</b>
                            <b>Giá</b>
                        </div>
                        <hr />
                    </div>
                    <form id="bill-list" action="/cart/addtocart" method="post">
                    </form>
                    <div>
                        <hr />
                        <div class="d-flex justify-content-between">
                            <b>Tổng</b>
                            <b><span id="total-bill">0 đ</span></b>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="d-flex justify-content-between mt-3">
                        <a class="btn btn-outline-danger" onclick="clearlist()">Xóa hết</a>
                        @if(Context.Session.GetString("account") != null)
                        {
                            <a class="btn btn-outline-success" onclick="addtocart()">Thêm vào giỏ hàng</a>
                        } else
                        {
                            <a class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modal-login">Đăng nhập</a>
                        }

                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            @foreach (Carriage carriage in ViewBag.Carriages)
            {
                <div class="p-3 bg-white rounded-3 shadow-sm mb-3">
                    <div class="text-center">
                        <div class=""><h3>Toa tàu số @carriage.CarriageNumber</h3></div>
                    </div>
                    <div class="carriage p-3 border border-5 rounded-3">
                        <div class="d-flex">
                            @for (int i = 0; i < @carriage.Tickets.Count - 4; i += 4)
                            {
                                <div class="d-grid me-3">
                                    @for (int j = i; j < i + 4; j++)
                                    {
                                        @if (carriage.Tickets.ToList()[j].Status == 1)
                                        {
                                            <label>
                                                <input type="checkbox" name="seat_name" value="@(carriage.Tickets.ToList()[j].TicketId)" onclick="selectSeat(this, @(carriage.Tickets.ToList()[j].TicketPrice.Price))" hidden>
                                                <a class="btn btn-outline-success @(j==i+1 ? "mb-5" : "mb-2")">@(carriage.Tickets.ToList()[j].Row)@(carriage.Tickets.ToList()[j].Seat)</a>
                                            </label>
                                        }
                                        else
                                        {
                                            <a class="btn btn-danger @(j==i+1 ? "mb-5" : "mb-2")">@(carriage.Tickets.ToList()[j].Row)@(carriage.Tickets.ToList()[j].Seat)</a>
                                        }
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts
    {
    <script>
        var formatter = new Intl.NumberFormat('vie-VN', {
                style: 'currency',
                currency: 'VND',
            });
            $.each($('.ticket'), function(t){
                var price = parseInt($(this).find('.ticket-price').html());
                $(this).find('.formated-ticket-price').html(formatter.format(price));
            });
        var type_list = [];
        $.ajax({
            type: 'POST',
            url: '/trip/GetTicketTypes',
            dataType: 'json',
            data: {
            },
            success: function(result) {
                type_list = result;
                console.log(result);
            },
            error: function(ex) {
            }
        });

        function getSelectOptionTicketPrice(){
            var result = `<select name="type_id" class="form-select">`;
            type_list.forEach(a => {
                result += `<option value="${a.typeId}">${a.typeName}</option>`;
            });
            return `${result}</select>`;
        }

        function selectSeat(cb, price) {
            if (cb.checked) {
                var name = $('.carriage label input[value="' + cb.value + '"] + a').text();
                var row = '<div id="bill-' + cb.value + '" class="d-flex justify-content-between align-items-center mb-2">'
                    + '<div><div><input type="hidden" name="ticket_id" value="' + cb.value + '">'
                    + name + '</div></div>'
                    + '<div>'
                    + getSelectOptionTicketPrice()
                    + '</div>'
                    + '<div class="d-none price">' + price + '</div>'
                    + '<div class="formated-price">' + formatter.format(price) + '</div>'
                    + '</div>';

                $('#bill-list').append(row);
                $('#bill-list #bill-' + cb.value + ' select').change(function() {
                    if ($('#bill-list #bill-' + cb.value + ' select option').first().is(':selected')) {
                        $('#bill-list #bill-' + cb.value + ' .price').text(price);
                        $('#bill-list #bill-' + cb.value + ' .formated-price').html(formatter.format(price));
                    } else {
                        $('#bill-list #bill-' + cb.value + ' .price').text(price / 2);
                        $('#bill-list #bill-' + cb.value + ' .formated-price').html(formatter.format(price / 2));
                    }
                    calculateTotal();
                });
            } else {
                $('#bill-list #bill-' + cb.value).remove();
            }
            calculateTotal();
        }

        function calculateTotal() {
            var sum = 0;
            $('#bill-list .price').each(function() {
                sum += parseInt($(this).text());

            });
            $('#total-bill').text(formatter.format(sum));
        }

        function clearlist() {
            $('#bill-list').html('');
            $('.carriage label input[type="checkbox"]:checked').each(function() {
                    this.checked = false;
            });
        }
        
        function addtocart() {
            var input_list = $('input[name="ticket_id"]');
            if(input_list.length == 0){
                alert('a');
            } else {
                $('#bill-list').submit();
            }
        }
    </script>

    }